.layout {
  height: 100vh;
}
.header {
  padding: 0 30px;
}
.header div {
  color: aliceblue;
}
.sidebar {
  overflow: auto;
  /* height: 100vh; */
  position: 'fixed';
  left: 0
}
.trigger{
  color: white;
  font-size: 20px;
  padding: 22px 35px 0 0;
}